<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGzye6YyiYPVVIX5Dp6flMqh3q9UaAr5A</string>
	<key>GCM_SENDER_ID</key>
	<string>579650755900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booking.app.bookLog</string>
	<key>PROJECT_ID</key>
	<string>booking-7095e</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-7095e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579650755900:ios:7a7dc1e53a2c2818f61239</string>
</dict>
</plist>